
{{> layout/header}}

<main class="container p-5 content">

    <article>
        <div class="card">
            <div class="card-header"> <b>글 수정화면 입니다.</b> </div>
            <div class="card-header">
                <form action="/board/{{board.id}}/update" method="post">
                    <!-- 파일을 던져야 한다면 Multipart가 되어야 한다. -->

                    <!-- 작성자 이름 -->
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="enter username" name="username" value="{{board.user.username}}" readonly>
                    </div>

                    <!-- 제목 입력 -->
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="enter title" name="title" value="{{board.title}}">
                    </div>

                    <!-- 내용 입력 -->
                    <div class="mb-3">
                       <textarea class="form-control" rows="5" name="content" required >{{board.content}}</textarea>
                    </div>

                    <button class="btn btn-primary form-controller" type="submit">글 수정하기</button>
                </form>
            </div>
        </div>
    </article>

</main>