{{> layout/header}}


<main class="container p-5 content">
    <div class="card">
        <div class="card-header"> <b>{{name}}</b> </div>
        <div class="card-body">
            <form action="/login" method="post" enctype="application/x-www-form-urlencoded">
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="enter your name" name="username">
                </div>

                <div class="mb-3">
                    <input type="password" class="form-control" placeholder="enter your password" name="password">
                </div>

                <button type="submit" class="btn btn-primary form-control">로그인</button>

            </form>

        </div>

    </div>
</main>

{{> layout/footer}}